.jekyll-cache/*
_site/*

.DS_Store
_sass/.DS_Store
assets/.DS_Store

assets/images/forty.jpg
assets/images/pic01.jpg
assets/images/pic02.jpg
assets/images/pic03.jpg
assets/images/pic04.jpg
assets/images/pic05.jpg
assets/images/pic06.jpg
assets/images/pic07.jpg
assets/images/pic08.jpg
assets/images/pic09.jpg
assets/images/pic10.jpg
assets/images/pic11.jpg
elements.md
